# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Build files
dist/
build/
*.spec

# OS files
.DS_Store
Thumbs.db
settings.json